.dock {
  z-index: 1;
  background-color: #fcf2f8;
  color: currentColor;
  border-top: 0.5px solid color-mix(in oklab, #c5005a 5%, #0000);
  width: 100%;
  height: 64px;
  /* height: calc(4rem + env(safe-area-inset-bottom)); */
  padding: 0.5rem;
  /* padding-bottom: 10px;
  padding-top: 20px; */
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

/* .dock > * {
  cursor: pointer;
  background-color: #fcf2f8;
  flex-direction: column;
  flex-shrink: 1;
  flex-basis: 100%;
  justify-content: center;
  align-items: center;
  gap: 1px;
  max-width: 8rem;
  height: 100%;
  margin-bottom: 0.5rem;
  transition: opacity 0.2s ease-out;
  display: flex;
  position: relative;
} */

.dock a {
  color: #c5005a;
  webkit-text-decoration: inherit;
  -webkit-text-decoration: inherit;
  text-decoration: inherit;
  margin-top: 10px;
}

.grids {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.04) 1px,
      transparent 0
    ),
    linear-gradient(90deg, rgba(0, 0, 0, 0.04) 1px, transparent 0);
  background-position: 50%;
  background-size: 20px 20px;
}
